@import url("reset.css");

body {
		font-family: 'Lato','Arial', sans-serif; 
		color: #2F302C; 
		line-height: 1.25;                                              
}
div[class*="__container"] {
		max-width: 1422px;
    padding-left: 15px;
    padding-right: 15px;
		margin: 0 auto;
}
.header,.main, .categories, .partners, .featured-products, .about-us    {
    margin-bottom: clamp(40px, 5vw, 82px);
}

.categories__container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 36px;
    align-items: stretch;
}

.categories__item--small {
  background-color: #F7F7F7;
  position: relative;
  padding: clamp(24px, 5vw, 48px) clamp(20px, 4vw, 46px) clamp(32px, 6vw, 64px) clamp(20px, 4vw, 32px);
  display: flex;
  flex-direction: column;
}
.categories__item--large  {
  background-color: #E6EFEA;
  padding: clamp(24px, 5vw, 48px) clamp(30px, 6vw, 75px) clamp(32px, 5vw, 51px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories__title {
  font-size: clamp(18px, 2vw, 20px);
  font-weight: 800;
  line-height: 1.4;
  margin-bottom: 24px;
}

.categories__image-wrapper--large {
  max-width: 529px;
  margin-top: auto;
  align-self: flex-end;
}

.categories__image--first {
  width: clamp(80px, 20vw, 151px);
  position: absolute;
  top: 0;
  right: clamp(20px, 8vw, 90px);
}

.categories__image--second {
  width: clamp(60px, 16vw, 121px);
  position: absolute;
  top: 0;
  right: clamp(0px, 4vw, 32px);
}
.categories__content {
  margin-top: auto;
  align-self: flex-end;
}
.categories__image-wrapper--small {
  height: clamp(60px, 5vw, 146px);
  margin-bottom: clamp(60px, 10vw, 136px);
}
.categories__description {
  color: #7E7F7C;
  margin-bottom: 38px;
}
.categories__description--sm {
  max-width: 310px;
  margin: 0 auto 18px;
  text-align: center;
}
.categories__link {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: #7E7F7C;
  font-weight: 500;
  line-height: 1;
}
.categories__link--large {
    margin-bottom: clamp(20px, 5vw, 97px);
}
.categories__link::after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-image: url('../img/icon/chevron-right.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  transition: transform 0.3s ease;
}

.categories__link:hover::after {
  transform: translateX(4px);
}

.categories__image-wrapper--bottom {
  max-width: 263px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.partners__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(170px, 100%), 1fr));
  grid-auto-rows: auto;
  gap: clamp(24px, 5vw, 68px);
  justify-content: space-between;
  align-items: center;
}
.partners__item {
    margin: 0 auto;
}
h2[class*="__title"] {
	text-align: center;
	font-weight: 800;
	text-transform: uppercase;
  font-size: clamp(24px, 3vw, 32px);
  margin-bottom: clamp(25px, 4vw, 72px);
}

.featured-products__categories {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: clamp(16px, 3vw, 48px);
  list-style: none;
  font-weight: 700;
  text-align: center;
  margin-bottom: clamp(25px, 4vw, 72px);
}
.featured-products__category-link {
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 8px;
}

.active {
  border-bottom: 1.7px solid #2F302C;
}

.featured-products__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 72px 36px;
  justify-content: center;
}

.featured-products__item {
  text-align: center;
}

.featured-products__title {
  margin-bottom: 36px;
}
.featured-products__item-title {
  text-transform: uppercase;
  margin-bottom: 12px;
}

.featured-products__item-rating {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
  margin-bottom: 12px;
  justify-content: center;
  align-items: center;
}

.featured-products__star {
  width: 16px;
}

.featured-products__rating-value {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.4
}
.featured-products__item-image {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 32px;
}
.about-us__items {
  display: grid;
  gap: 68px;
  grid-template-columns: repeat(3, 1fr);
}

.about-us__item {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: center;
}
.about-us__item-description {
  text-align: center;
  color: #7E7F7C;
}
@media (max-width: 1100px) {
  .categories__container {
    grid-template-columns: repeat(3, 1fr);;
    gap: 15px;
  }

  .categories__item--large {
    padding: clamp(24px, 5vw, 48px) clamp(30px, 3vw, 75px) clamp(32px, 4vw, 51px);
  }
}
@media (max-width: 1024px) {
  .about-us__items, .featured-products__items {
    grid-template-columns: repeat(2, 1fr);
  }

  .featured-products__items {
    gap: 48px 24px;
  }
}
@media (max-width: 870px) {
  .categories__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "large large"
      "small1 small2";
  }

  .large {
    grid-area: large;
  }

  .small-1 {
    grid-area: small1;
  }

  .small-2 {
    grid-area: small2;
  }

  .categories__image-wrapper--large {
    margin: auto;
  }
}

@media (max-width: 530px) {
  .categories__container {
      grid-template-columns: 1fr;
      grid-template-areas:
        "large"
        "small1"
        "small2";
    }
  
    .categories__item {
      min-height: clamp(320px, 60vw, 480px);
      display: flex;
      flex-direction: column;
    }
  
    .categories__image--small {
      max-height: 210px;
      max-width: 180px;
    }
  
    .categories__image-wrapper--bottom {
      right: -25px;
    }
  .about-us__items {
    grid-template-columns: 1fr;
  }

  .featured-products__items {
    grid-template-columns: 1fr;
    gap: 36px 0;
  }
}


