@import url('reset.css');
@import url('fonts.css');

body {
  color: #2f302c;
  font-family: 'Lato', sans-serif;
}
.wrapper {
  position: relative;
  min-height: 100%;
  overflow: clip;

  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}

[class*='__container'] {
  max-width: 1422px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header__container {
  min-height: 164px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 80px;
}
.header__image-logo {
  width: 200px;
  max-width: none;
}
.header__search {
  flex-basis: 264px;
}
.search-header {
  display: flex;
  border-bottom: 1px solid #d4d4d4;
}
.search-header__button {
  width: 15px;
  background: url('../img/icons/search.svg') left no-repeat;
}
.search-header__input {
  height: 43px;
  padding-inline: 15px;
}
.header__menu {
  flex-grow: 1;
}
.icon-menu {
  display: none;
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px 44px;
}
.menu__link,
.action-header__link {
  font-weight: 700;
  line-height: 1.25;
  color: #2f302c;
}
.action-header {
  display: flex;
  align-items: center;
  gap: 44px;
}
.action-header__link {
  padding-left: 22px;
  display: block;
}
.action-header__link--love {
  background: url('../img/icons/favorite.svg') left no-repeat;
}
.action-header__link--cart {
  background: url('../img/icons/cart.svg') left no-repeat;
}

.hero {
  background: url(../img/hero.jpg) center / cover no-repeat, #d9d9d9;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.hero__container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.hero__content {
  width: 50%;
  padding: clamp(30px, 10vw, 120px) clamp(15px, 4vw, 50px);
  text-align: left;
}

.hero__title {
  max-width: 520px;
}

.hero__divider {
  width: 100%;
  height: 1px;
  max-width: clamp(180px, 30vw, 308px);
  margin: clamp(16px, 3vw, 24px) 0 clamp(24px, 4vw, 36px);
  background-color: #2f302c;
}

.hero__title-line--small {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero__title-line--extralarge,
.hero__title-line--large {
  font-family: Montserrat;
  font-weight: 800;
  font-size: clamp(2.5rem, 8vw, 6rem);
  line-height: 1.04;
}

.hero__title-line--large {
  font-weight: 700;
}

.hero__subtitle {
  margin-bottom: 20px;
}

.hero__text {
  color: #646464;
  max-width: 420px;
}

@media (width <= 1422px) {
  .header__container {
    min-height: 120px;
    gap: 40px;
  }
  .action-header,
  .menu__list {
    gap: 8px 25px;
  }
  .menu__list {
    justify-content: center;
  }
}

@media (width <= 1200px) {
  .header__search {
    flex-basis: 190px;
  }
}

@media (width <= 992px) {
  .header__container {
    min-height: 100px;
    gap: 30px;
  }
  .action-header,
  .menu__list {
    gap: 8px 17px;
  }
  .header__logo {
    width: 37px;
    flex-shrink: 0;
    overflow: hidden;
  }
  .hero {
    position: relative;
    background: url(../img/hero-small.jpg) center / cover no-repeat, #d9d9d9;
  }
  .hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    z-index: 1;
  }
  .hero__container {
    justify-content: flex-start;
  }

  .hero__content {
    width: 100%;
    max-width: 318px;
    position: relative;
    z-index: 2;
    padding-left: 0;
  }
  .hero__divider {
    background-color: #fff;
  }
  .hero__title,
  .hero__subtitle,
  .hero__text {
    color: #fff;
  }
}
@media (width < 768px) {
  .header__container {
    min-height: 70px;
  }
  .icon-menu,
  .header__action,
  .header__logo,
  .header__search {
    position: relative;
    z-index: 3;
  }

  .icon-menu {
    display: block;
    width: 30px;
    height: 18px;
    flex-shrink: 0;
  }
  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: '';
    height: 2px;
    width: 30px;
    position: absolute;
    right: 0;
    transition: all 0.3s;
    background-color: #2f302c;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: 50%;
    translate: 0 -50%;
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    background-color: #f6f6f6;
    z-index: 1;
    overflow: auto;
    transition: left 0.3s;
    padding: 120px 15px 30px 15px;
  }
  .menu::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 100%;
    transition: left 0.3s;
    background-color: #fff;
    z-index: 2;
  }

  .menu__list {
    row-gap: 30px;
    flex-direction: column;
  }
  .menu__link {
    font-size: 28px;
  }

  .header__search {
    flex-grow: 1;
  }
  .action-header__link {
    width: 25px;
    aspect-ratio: 1;
    padding-left: 0;
    font-size: 0;
    line-height: 1;
    background-size: contain;
  }

  [data-menu-open] .icon-menu span {
    width: 0;
  }
  [data-menu-open] .icon-menu::before {
    rotate: -45deg;
    translate: 0 -50%;
    top: 50%;
  }
  [data-menu-open] .icon-menu::after {
    rotate: 45deg;
    translate: 0 50%;
    bottom: 50%;
  }
  [data-menu-open] .menu,
  [data-menu-open] .menu::before {
    left: 0;
  }
}
@media (width < 480px) {
  .header__container {
    gap: 15px;
  }
  .header__logo {
    width: 28px;
  }
  .header__image-logo {
    width: 154px;
  }
  .action-header {
    gap: 8px 15px;
  }
  .search-header {
    border-radius: 5px;
    border: 1px solid #d4d4d4;
  }
  .search-header__button {
    display: none;
  }
  .search-header__input {
    height: 33px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
