@import url('reset.css');
body {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25px;
}
.nav-menu {
  padding-top: 20px;
  margin-bottom: 30px;
}
.menu-item {
  margin-bottom: 10px;
}
.box {
  display: inline-block;
  width: 200px;
  padding: 15px;
  background-color: #e9e6e6;
  border: 2px solid #1b0f0f;
  margin-right: 15px;
}
.border-mixed {
  border-top: 6px solid #6aa0de;
  border-right: 6px dotted #1d7865;
  border-bottom: 6px dashed #875504;
  border-left: 6px double #cd4757;
}

.border-none {
  border: 6px solid #ae18a7;
  border-bottom: none;
}

.border-radius {
  border-radius: 40% 30% 40% 35%;
}
.border-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #cf88cc;
}

.shadow {
  box-shadow: inset 10px 5px 5px #cd1919;
}
.shadow-inside {
  box-shadow: 10px 10px 5px #645eb7;
}
.shadow-multi {
  box-shadow: 7px 7px 8px #337117, 30px 20px 30px #fbee01;
}
.title {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 15px;
}
.subtitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.container {
  max-width: 1392px;
  margin: 0 auto;
}

.section {
  margin-bottom: 30px;
}
.opacity-zero {
  background-color: #1b0f0f;
  opacity: 0;
}
.opacity-half {
  color: #000000;
  background-color: #290127;
  opacity: 0.5;
}
.visibility-hidden {
  visibility: hidden;
}
.bg-subtitle {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}
.bg-section {
  margin-bottom: 20px;
}
.bg-image {
  background-image: url('../img/lovely-pet-portrait.jpg');
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 200px;
}
.bg-image-gradient {
  background-image: linear-gradient(80deg, #ff3ac7 0%, #5a05f7 100%);
  width: 200px;
  height: 200px;
}
.box-big {
  display: inline-block;
  width: 300px;
  height: 300px;
  border: 4px solid #000000;
}
.repeat {
  background-repeat: repeat;
}
.bg-image-small {
  background-image: url('../img/grey-kitty.png');
}
.no-repeat {
  background-repeat: no-repeat;
  background-position: center;
}
.repeat-x {
  background-repeat: repeat-x;
}

.repeat-y {
  background-repeat: repeat-y;
}
.position-left-top {
  background-position: left top;
  background-repeat: no-repeat;
}
.position-right-bottom {
  background-position: right bottom;
  background-repeat: no-repeat;
}
.box-full-width {
  width: 100%;
  height: 300px;
  background-image: url('../img/bengal-cat-lies-grey-chair.jpg');
  background-size: cover;
}
.attach-fixed {
  background-attachment: fixed;
}
.size-auto {
  background-size: auto 100px;
  background-repeat: no-repeat;
}
.size-contain {
  background-size: contain;
  background-repeat: no-repeat;
}
.size-300 {
  background-size: 300px;
  background-repeat: no-repeat;
}
.size-50 {
  background-size: 50%;
  background-repeat: no-repeat;
}
.border-box {
  background-clip: border-box;
  border-style: dashed;
}

.padding-box {
  background-clip: padding-box;
  border-style: dashed;
}

.content-box {
  background-clip: content-box;
  border-style: dashed;
}
.border-area {
  background-clip: border-area;
  border-color: transparent;
  color: white;
}

.furniture-hero {
  background: url('../img/furniture-hero.jpg') left center / cover no-repeat;
  color: #2f302c;
  padding: 110px 10px;
}
.furniture-content {
  max-width: 700px;
  margin: 0 5px 0 auto;
  font-weight: 700;
}
.furniture-title {
  display: inline-block;
  max-width: 520px;
  font-size: 96px;
  font-weight: 800;
  line-height: 1.04;
}
.furniture-title-strong {
  font-weight: 700;
  margin-bottom: 16px;
  display: inline-block;
}
.furniture-subtitle {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 20px;
}
.horizontal-separator {
  display: block;
  width: 67%;
  line-height: 0;
  height: 1px;
  border: none;
  background-color: #2f302c;
  margin: 0 0 36px;
}
.furniture-text {
  color: #7e7f7c;
  font-weight: 500;
  max-width: 375px;
  line-height: 1.25;
}
.item {
  background: url('../img/check-badge.svg') 0 0 no-repeat;
  margin-bottom: 10px;
  min-height: 32px;
  padding-left: 45px;
  line-height: 32px;
}
.grey-check {
  background: url('../img/grey-check-badge.svg') 0 0 no-repeat;
}
